body {
    padding-top: 15px;
}

.votes {
    position: absolute;
    right: 15px;
    bottom: 10px;

    li {
        padding-left: 3px;
        padding-right: 3px;
    }

    img {
        border-radius: 50%;
    }
}

#online-users {
    li {
        padding-left: 3px;
        padding-right: 3px;
    }

    img {
        border-radius: 50%;
    }
}

#search-pane {
    position:fixed;
    height: 100%;
    right:0;
    top:0;
    overflow: auto;
    border-left:1px solid #eee;

    form {
        margin: 20px 0;
    }
}

#currently-playing {
    position: relative;
    padding-left: 240px;

    h1 {
        margin-top:0;
    }

    .thumbnail {
        position: absolute;
        left: 60px;
        top: 48px;
    }
}

#playlist {
    .disabled {
        .loading-icon {
            position: absolute;
            left: 45px;
            top: 40px;
        }

        .media-object {
            opacity: .25;
        }
    }
}
