body {
    padding-top: 15px;
    padding-bottom: 200px;
}

.votes {
    position: absolute;
    right: 15px;
    bottom: 10px;

    li {
        padding-left: 3px;
        padding-right: 3px;
    }

    img {
        border-radius: 50%;
    }
}

#online-users {
    li {
        padding-left: 3px;
        padding-right: 3px;
    }

    img {
        border-radius: 50%;
    }
}

#search-pane {
    position:fixed;
    height: 100%;
    right:0;
    top:0;
    overflow: auto;
    border-left:1px solid #eee;

    form {
        margin: 20px 0;
    }
}

#currently-playing {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    padding-left: 195px;
    z-index: 1000;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    padding-right: 10px;

    button {
        margin-top: 10px;
    }

    .progress {
        height: 3px;

        .progress-bar {
            -webkit-transition: width 1s linear;
            -o-transition: width 1s linear;
            transition: width 1s linear;
        }
    }

    .thumbnail {
        width: 175px;
        position: absolute;
        left: 10px;
        bottom: 10px;
        margin: 0;
    }
}

#main-loader {
    font-size: 15em;
    text-align: center;
    margin-top: 250px;
}

#playlist {
    // .hover-show {
    //     display: none;
    // }

    // li:hover {
    //     .hover-show {
    //         display: inline;
    //     }
    // }

    .disabled {
        .loading-icon {
            position: absolute;
            left: 45px;
            top: 40px;
        }

        .media-object {
            opacity: .25;
        }
    }

    .edit-form {
        width: 50%;
    }
}
