<div id="currently-playing">

    <button ng-click="unmutePlayer()" ng-if="muted" class="btn pull-right btn-info"><span class="glyphicon glyphicon-volume-off"></span></button>
    <button ng-click="mutePlayer()" ng-if="!muted" class="btn pull-right btn-info"><span class="glyphicon glyphicon-volume-up"></span></button>

    <img class="thumbnail" ng-src="{{ current.art.full }}" />
    <h1>{{ current.title }}</h1>
    <p>{{ current.artist }}</p>
    <div class="progress">
        <div
            class="progress-bar progress-bar-warning"
            role="progressbar"
            aria-valuenow="{{ current.progress }}"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: {{ current.progress }}%;">
        </div>
    </div>
</div>
