<div>
    <div class="form-group">
        <input autocomplete="off" placeholder="Search" class="form-control" ng-model="filterList" />
    </div>
    <ul class="list-group media-list" id="playlist">
        <li
            class="media list-group-item"
            ng-show="!$last"
            ng-class="{disabled: item.status == 'processing', 'text-warning': item.last_played == 0}"
            style="margin-top:0;"
            ng-repeat="item in tracks | filter: filterList">
            <div class="media-left">
                <i ng-if="item.status === 'processing'" class="loading-icon fa fa-circle-o-notch fa-spin"></i>
                <img class="media-object" width="75" height="75" ng-src="{{ item.art.thumbnail }}" />
            </div>

            <div class="media-body">
                <playlist-actions></playlist-actions>

                <ul class="list-inline votes">
                    <li ng-repeat="vote in item.votes">
                        <img width="25" ng-src="{{ vote.photo }}" alt="{{ vote.name }}" />
                    </li>
                </ul>

                <h4 class="media-heading">{{ item.title }}</h4>
                <p>{{ item.artist }}</p>
                <small class="text-muted" title="{{ item.added_on_formatted }}">
                    {{ item.added_on_relative }} by {{ item.added_by.first_name }}
                </small>

                <a ng-click="deleteTrack(item)" style="display:none;" class="btn btn-xs btn-danger delete-track" aria-label="Add Track">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
        </li>
    </ul>
</div>
