<div>
    <div class="form-group">
        <input autocomplete="off" placeholder="Search" class="form-control" ng-model="trackSearch" />
    </div>
    <ul class="list-group media-list" id="playlist">
        <li
            class="media list-group-item"
            ng-show="!item.current"
            ng-class="{disabled: item.status == 'processing', 'text-warning': item.last_played == 0}"
            style="margin-top:0;"
            ng-repeat="item in tracks | filter:trackSearch">
            <div class="media-left">
                <i ng-if="item.status === 'processing'" class="loading-icon fa fa-circle-o-notch fa-spin"></i>
                <img class="media-object" width="75" height="75" ng-src="{{ item.art.thumbnail }}" />
            </div>

            <div class="media-body">
                <playlist-actions></playlist-actions>

                <ul class="list-inline votes">
                    <li ng-repeat="vote in item.votes">
                        <img width="25" ng-src="{{ vote.photo }}" alt="{{ vote.name }}" />
                    </li>
                </ul>

                <form ng-submit="updateTrackInfo(item)" class="edit-form">
                    <h4 class="media-heading">
                        <i class="fa fa-chevron-circle-right" ng-if="item.last_played == 0"></i>
                        <span ng-show="!item.editing">{{ item.title }}</span>
                        <input type="text" ng-model="item.title" class="form-control" ng-show="item.editing" />
                    </h4>
                    <p ng-show="!item.editing">{{ item.artist }}</p>
                    <input type="text" ng-model="item.artist" class="form-control" ng-show="item.editing" />
                    <small class="text-muted" title="{{ item.added_on_formatted }}">
                        {{ item.added_on_relative }} by {{ item.added_by.first_name }}
                    </small>
                </form>
            </div>
        </li>
    </ul>
</div>
